@tailwind base;
@tailwind components;
@tailwind utilities;

color {
  color: #f2f2f2;
}

body {
  background: url("/assets/blackbgImage.png");
  background-color: rgb(66, 66, 66);
}

.footerDivider::before {
  background: url("/assets/footerleft.png");
  height: 6px;
  content: " ";
  position: absolute;
  width: 12px;
  bottom: 0;
  left: -11px;
  background-repeat: no-repeat;
}

.footerDivider::after {
  background: url("/assets/footerRight.png");
  height: 6px;
  content: " ";
  position: absolute;
  width: 12px;
  bottom: 0;
  right: -11px;
  background-repeat: no-repeat;
}

.advanceSearch::before {
  content: " ";
  background: url("/assets/advancesearch.png") no-repeat;
  background-size: 38px 18px;
  height: 18px;
  left: -36px;
  position: absolute;
  width: 38px;
  top: -2px;
  transform: scaleY(-1);
}

.advanceSearch::after {
  content: " ";
  background: url("/assets/advancesearch.png") no-repeat;
  background-size: 38px 18px;
  height: 18px;
  right: -36px;
  left: auto;
  position: absolute;
  width: 37.9977px;
  top: -2px;
  transform: rotate(180deg);
}

.advanceSearchBtn::after {
  content: " ";
  position: absolute;
  right: 0px;
  background-color: transparent;
  width: 35px;
  height: 40.9838px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.advanceSearchBtn:hover::after {
  background-color: #282828;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.advanceScroll::-webkit-scrollbar {
  width: 22px;
  height: 22px;
  padding: 10px;
  position: absolute;
}

/* Track */
.advanceScroll::-webkit-scrollbar-track {
  box-shadow: none;
  margin: 10px;
}

/* Handle */
.advanceScroll::-webkit-scrollbar-thumb {
  background: #313131;
  border-radius: 3px;
  max-width: 10px;
}

.advanceScroll::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 14px;
  width: 19px;
  background-image: url("/assets/scrollbar_bg_dark.png");
  background-position-x: 2px;
  background-position-y: 0px;
  background-repeat: no-repeat;
}

.advanceScroll::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 14px;
  width: 19px;
  background-image: url("/assets/scrollbar_bg_dark.png");
  background-position-x: 2px;
  background-position-y: -15px;
  background-repeat: no-repeat;
}
