@tailwind base;
@tailwind components;
@tailwind utilities;

/* color {
    color : #616161
} */

body{
    background: url('/assets/blackbgImage.png');
    background-color: rgb(66, 66, 66);
}

.footerDivider::before {
    background: url('/assets/footerleft.png');
    height: 6px;
    content: ' ';
    position: absolute;
    width: 12px;
    bottom: 0;
    left: -11px;
    background-repeat: no-repeat;
}

.footerDivider::after {
    background: url('/assets/footerRight.png');
    height: 6px;
    content: ' ';
    position: absolute;
    width: 12px;
    bottom: 0;
    right: -11px;
    background-repeat: no-repeat;
}

.advanceSearch::before{
    content: " ";
    background: url('/assets/advancesearch.png') no-repeat;
    background-size: 38px 18px;
    height: 18px;
    left: -36px;
    position: absolute;
    width: 38px;
    top: -2px;
    transform: scaleY(-1);
}

.advanceSearch::after{
    content: " ";
    background: url('/assets/advancesearch.png') no-repeat;
    background-size: 38px 18px;
    height: 18px;
    right: -36px;
    left: auto;
    position: absolute;
    width: 37.9977px;
    top: -2px;
    transform: rotate(180deg);
}